<html>
<head>
</head>
<body>
#* @vtlvariable name="p" type="com.farpost.logwatcher.web.controller.FeedController.InnerFeedPage" *#
	#if($p.clusters.isEmpty())
	<div id="notificationPanel">
		<p>Try to change severity settings</p>
		<span>&empty;</span>
		<br/>No results found.
	</div>
	#else
	<div class="entries">
		#foreach($c in $p.clusters)
			#set($stat = $p.getStatistics($c))
			<a name='$c.checksum'></a>

			#set($lastDate = $stat.lastSeenAt.toDate())
			#set($lastOccurredDate = $date.format("yyyy-MM-dd", $lastDate))

			<div class='entry ${c.severity}'>
				<a href="$link.uri("/entries/$c.applicationId/$c.checksum")">
					<div class='entryHeader'>

						<canvas class="count" width="60" height="60" data-count="$stat.getCount($p.date)"
										data-severity="$c.severity"></canvas>

						<div class='message'>
							#set($cause = $f.extractExceptionClass($c.title))
							#if ($cause.type)
								#if($cause.type == $cause.simpleType)
									<span class="causeType">$cause.type</span>
								#else
									<span class="causeType">
									<abbr title="$cause.type">$cause.simpleType<abbr></span>
								#end
							#end
							#if($cause.message.isEmpty())
								<span class="noMessage">No message</span>
							#else
								$cause.message
							#end
						</div>
						<div class='messageOverlay'></div>
						<div class='times'>
							#if($date.format("d MMMM yyyy", $date.systemDate) == $date.format("d MMMM yyyy", $lastDate))
								<abbr title='$date.format("d MMMM yyyy, HH:mm:ss zz", $lastDate)'>
									$date.format("HH:mm", $lastDate)
								</abbr>
							#else
								$date.format("dd MMMM yyyy, HH:mm", $lastDate)
							#end
							#set($intensity = $f.getIntensity($p.getMinuteVector($c)))
							#if($intensity >= 0.1)
								<span class="rightNowMarker">~$f.formatIntensity($intensity)</span>
							#end
						</div>
					</div>

				#*<div class="entryContainer">
					<div class="attributesContainer" loaded="false">
						<div class="spinner"></div>
					</div>
					<div class='entryContent'>
						<c:choose>
							<c:when test="${not empty entry.sampleCause}">
								<pre class="stacktrace noBubble"><c:out value="${lf:formatCause(entry.sampleCause)}"/></pre>
							</c:when>
							<c:otherwise>
								<pre class="stacktrace noBubble"><c:out value="${e.message}"/></pre>
							</c:otherwise>
						</c:choose>
					</div>

					<c:url var="permaLink" value="/feed/${e.applicationId}">
						<c:param name="date">
							<fmt:formatDate value="${lf:date(entry.lastTime)}" pattern="yyyy-MM-dd"/>
						</c:param>
						<c:param name="severity" value="${e.severity}"/>
					</c:url>
					<c:set var="permaLink" value="${permaLink}\#${e.checksum}"/>

					<c:set var="issueDescription">${lf:trim(entry.message, 300, '')}
						<c:if test="${e.sampleCause ne null}">

							Stacktrace:
							${lf:trim(lf:formatCause(entry.sampleCause), 500, '')}
						</c:if>

						http://${pageContext.request.serverName}:${pageContext.request.serverPort}${permaLink}</c:set>

					<div class="entryFooter">
						<c:url value="${jiraInfo.location}/secure/CreateIssueDetails.jspa" var="jiraLink">
							<c:param name="pid" value="${jiraInfo.projectPid}"/>
							<c:param name="issuetype" value="${jiraInfo.issueType}"/>
							<c:param name="summary" value="${lf:trim(entry.message, 100, '...')}"/>
							<c:param name="description" value="${issueDescription}"/>
							<c:param name="priority" value="${jiraInfo.priority}"/>
						</c:url>
						<c:set var="jiraLink">
							<c:out value="${jiraLink}"/>
						</c:set>
						<a href="${jiraLink}" target='_blank'>Create task</a>
						<a href='${permaLink}'>Permalink</a>

						<a href="${detailsLink}">Details</a>
						<a class='removeEntry asynchronous' href='#'>Remove</a>
					</div>
				</div>*#
				</a>
			</div>

		#end
	</div>

	<div id="footer">
		$f.pluralize($p.clusters.size(), "entry entries entries")
		$f.pluralize($p.entriesCount, "message messages messages")
	</div>
	#end
</body>
</html>