#* @vtlvariable name="p" type="com.farpost.logwatcher.web.controller.FeedController.InnerFeedPage" *#
<html>
<head>
</head>
<body>
	#if($p.clusters.isEmpty())
	<div id="notificationPanel">
		<p>Try to change severity settings</p>
		<br/>
		No results found
	</div>
	#else
	<div class="entries">
		#foreach($c in $p.clusters)
			#set($s = $p.getStatistics($c))
			#set($lastDate = $s.lastSeenAt.toDate())
			#set($lastOccurredDate = $date.format("yyyy-MM-dd", $lastDate))
			<a name='$c.checksum'></a>

			<div class='entry ${c.severity}'>
				<a href="$link.uri("/entries/$c.applicationId/$c.checksum")">
					<div class='entryHeader'>
						<canvas class="count" width="60" height="60" data-count="$s.getCount($p.date)"
										data-severity="$c.severity"></canvas>

						<div class='message offset'>
							#if($c.issueKey)
								<span class="issueKey">$c.issueKey</span>
							#end
							#if ("$!c.causeType" != "")
								#set($simpleCauseType = $f.retreiveSimpleName($c.causeType))
								#if("$!simpleCauseType" != "")
									<span class="causeType"><abbr title="$c.causeType">$simpleCauseType<abbr></span>
								#else
									<span class="causeType">$c.causeType</span>
								#end
							#end
							#if($c.title.isEmpty())
								<span class="noMessage">No message</span>
							#else
								$c.title
							#end
						</div>
						#if($s.firstSeenAt.isAfter($p.today))
							<div class="newClusterMarker">*</div>
						#end

						<div class="offset">
							#if("$!c.group" != "")
								#set($simpleGroup = $f.retreiveSimpleName($c.group))
								#if("$!simpleGroup" != "")
									<span class="group"><abbr title="$c.group">$simpleGroup</abbr></span>
								#else
									<span class="group">$c.group</span>
								#end
							#end

							#if(!$p.applicationId.isPresent())
								<span class="applicationId">$c.applicationId

								</span>
							#end

							<span class='times'>
								#if($date.format("d MMMM yyyy", $date.systemDate) == $date.format("d MMMM yyyy", $lastDate))
									<abbr title='$date.format("d MMMM yyyy, HH:mm:ss zz", $lastDate)'>
										$date.format("HH:mm", $lastDate)
									</abbr>
								#else
									$date.format("dd MMMM yyyy, HH:mm", $lastDate)
								#end
								#set($intensity = $f.getIntensity($p.getMinuteVector($c)))
								#if($intensity >= 0.1)
									<span class="rightNowMarker">~$f.formatIntensity($intensity)</span>
								#end
								#if($c.description)
									<span class="description">$display.truncate($c.description, 110, "...", true)</span>
								#end
							</span>
						</div>
					</div>
				</a>
			</div>
		#end
	</div>

	<div id="footer">
		$f.pluralize($p.clusters.size(), "entry entries entries")
		$f.pluralize($p.entriesCount, "message messages messages")
	</div>
	#end
</body>
</html>