<configuration scan="true" scanPeriod="1 second">

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{dd MMM HH:mm:ss}] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="warn">
		<appender-ref ref="stdout"/>
	</root>

	<logger name="com.farpost" level="info"/>

</configuration>