body {
	font-family: arial, helvetica, sans-serif;
	font-size: 12px;
	color: #4A4A4A;
}

a {
	color: #0099ff;
	text-decoration: none;
}

a:hover {
	color: red;
	text-decoration: underline;
}

a:visited {
	color: brown;
	text-decoration: underline;
}

a.asynchronous {
	color: #0099ff !important;
	text-decoration: none !important;
	border-bottom: 1px dashed !important;
}

#mainPanel {
	margin: 10px;
}

.entryContent .stacktrace {
	white-space: pre-wrap;
	font-family: "courier new" courier, monospace;
	margin-bottom: 5px;
	margin-top: 10px;
}

.entryContent ul {
	list-style-type: none;
	padding: 0;
	font-size: 70%;
	color: gray;
}

.entryContent li span {
	color: black;
}

.entry {
	border-bottom: 1px dotted gray;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 15px;
}

.error {
	background-color: #fee;
}

.info {
	background-color: #dfd;
}

.warning {
	background-color: #ffc;
}

#menuBar {
	border-bottom: 1px solid #777;
	text-align: right;
	padding-right: 50px;
}

#menuBar a {
	border: 1px solid #ddd;
	border-bottom: none;

	padding: 2px 10px;
	margin: 3px;

	line-height: 20px;
	text-decoration: none;
	color: #777;
	font-weight: bold;
	font-size: 12px;
}

#menuBar a.selected {
	border: 1px solid #777;
	border-bottom-color: #fff;
}

#menuBar div {
	border: 1px solid red;
	width: 300px;
	display: block;
	float: right;
}

.entryHeader .times {
	color: #888;
	font-size: 80%;
}

span.additionalInfo {
	border-bottom: 1px dashed #888;
	cursor: default;
}

.entry .entryContent {
	display: none;
}

.selectedEntry .entryContent {
	display: block !important;
}

.applicationId {
	font-variant:small-caps;
}

.message {
	cursor: pointer;
	font-style: normal;
	color: black;
}

.entryContent .operations a {
	font-size: 120%;
}

span.tag {
	font-size: 70%;
	background-color: #E0EAF1;
	border-bottom: 1px solid #3E6D8E;
	border-right: 1px solid #7F9FB6;
	color: #3E6D8E;
	margin: 1px;
	padding: 1px;

}