body				  { font-size: 24px; }

a             { color: #0099ff; text-decoration: none }
a:hover				{ color: red; text-decoration: underline }
a:visited			{ color: brown; text-decoration: underline }

.entry				{ position: relative }
.entry a			{ display: inline; text-align: right; }

.entry                      {	border-top: 1px dotted gray; padding-bottom: 10px; padding-top: 10px;
															padding-left: 15px }
.selectedEntry              { background-color: #ffd; }
.entryHeader .times         { color: #888; font-size: 60%; line-height: 20px; }
.entry:hover                { background-color: #ffd }
.entry:hover .operations    { display: inline }
.operations                 { display: none; padding: 3px 0 0 0; position: absolute; top: 20px;
															right: 10px; font-size: 70%; }


.withStacktrace .message  { cursor: pointer }


.asynchronous { color: #0099ff !important; text-decoration: none !important;
								border-bottom: 1px dashed !important }


#mainPanel { margin: 10px }


.entryContent               { font-size: 12px }
.entryContent .stacktrace   { font-family: monospace; margin-bottom: 5px; margin-top: 10px }
.entryContent ul            {  list-style-type: none; padding: 0; color: gray }
.entryContent li span       { color: black }
.selectedEntry .entryContent { display: block !important }



.applicationId          { margin-right: 10px; }
.error .applicationId   { color: #c90000 }
.info .applicationId    { color: #3366ff; }
.warning .applicationId { color: #ff9900; }

.warningMarker { color: #ff0033; }

.additionalInfo {	border-bottom: 1px dashed; cursor: default }

#menuBar {
	border-bottom: 1px solid #777;
	padding-right: 50px;
}

#menuBar a {
	border: 1px solid #ddd;
	border-bottom: none;

	padding: 2px 10px;
	margin: 3px;

	line-height: 19px;
	text-decoration: none;
	color: #777;
	font-weight: bold;
	font-size: 12px;
}

#menuBar a.selected {
	border: 1px solid #777;
	border-bottom-color: #fff;
}

#menuBar div {
	border: 1px solid red;
	width: 300px;
	display: block;
	float: right;
}

.entry .entryContent {
	display: none;
}

.applicationId {
	font-variant:small-caps;
}



span.tag {
	font-size: 70%;
	background-color: #E0EAF1;
	border-bottom: 1px solid #3E6D8E;
	border-right: 1px solid #7F9FB6;
	color: #3E6D8E;
	margin: 1px;
	padding: 1px;

}