@import url("menubar.css");
@import url("searchbox.css");
@import url("entry.css");

body				                    { font-size: 25px; font-family: tahoma, sans-serif; padding:0; margin:0 }
img                             { border: 0 }
#firstDot                       { color: #ff3333; font-size: 180%; position: absolute; left: 10px }
#secondDot                      { color: #ff9900; font-size: 180%; position: absolute; left: 15px }
#thirdDot                       { color: #009900; font-size: 180%; position: absolute; left: 20px }

h1                              { font-size: 18px; font-weight: normal; margin: 0 0 10px 10px }
h2                              { font-size: 24px; font-weight: normal; color: #555; margin-top: 0; }
h2 a                            { text-decoration:none !important; }
h2 a:visited                    { color: rgb(0, 153, 255) }
#header                         { background-color: rgb(247, 247, 247); padding:0; margin:0;
																	position: relative; height: 70px; min-width: 995px; }

#footer                         { font-size: 80%; margin-top: 20px; color: gray; text-align: center; }

a					                      { color: #0099ff; text-decoration: none }
a:hover				                  { color: red; text-decoration: underline }
a:visited			                  { color: brown; text-decoration: underline }

.noBubble                       { cursor: auto }

.asynchronous                   { color: #0099ff !important; text-decoration: none !important;
																	border-bottom: 1px dashed !important }

#mainPanel                      { margin: 25px; min-width: 995px; position: relative; }

#notificationPanel              { text-align: center; font-size: 150%; color: #666;
																	font-family: serif !important; padding-top: 40px; padding-bottom: 40px; }

#severitySelector               { font-size: 60%; font-family: serif }
#severitySelector span:hover    { font-weight: bold; }
#severitySelector span:hover span { font-weight: normal; }

abbr                            { cursor: default; border-bottom: 1px dashed !important }

#slider             { font-size: 40%; width: 100px }
#sliderValue        { width: 100px; text-align: center; padding-bottom: 5px; font-size: 60%;
											visibility: hidden; font-variant: small-caps; }
#sliderContainer    { padding: 10px; position: absolute; right: 20px; top: 0; }
#sliderContainer:hover #sliderValue    { visibility: visible; }

p                   { font-size: 14px; }

FORM                { margin: 0 }