#menuBar            { border-bottom: 1px solid #999; padding-left: 35px; padding-top: 10px; margin:0;
											position: absolute; bottom:0; left: 0; right: 0; font-size: 14px; line-height: 26px;}

#menuBar a          { border: 1px solid #ddd; border-bottom: none; padding: 3px 15px 3px 15px;
											margin: 10px 5px 0 5px;
											text-decoration: none; color: #777;	font-size: 14px;
											background-color: rgb(252, 252, 252); display: block; float: left;
											-moz-border-radius: 4px 4px 0 0; -webkit-border-top-left-radius: 4px;
											-webkit-border-top-right-radius: 4px; border-radius: 4px 4px 0 0 }

#menuBar a.selected { border: 1px solid #777; border-bottom-color: #fff; font-size: 19px; color:black;
											margin-bottom: -1px; background-color: white; }
