<h1>View1</h1>

<div id="sidebar" ng-controller="FeedController">

	<a href="#/feed/billing">Billing</a>
	<a href="#/feed/geocoder">Geocoder</a>
	<a href="#/feed/advertisement">Advertisement</a>
	<a href="#/feed/frontend">Frontend</a>

	<div class="entries">
		<div ng-repeat="e in entries" class='entry ${entry.severity}' checksum='${entry.checksum}' lastOccurredDate='${lastOccurredDate}'>
			<div class='entryHeader'>

				<div class="count">{{e.count}}</div>
				<div class='message'>
					{{e.message}}
				</div>
				<div class='messageOverlay'><!----></div>
				<div class='times'>

						<span class='applicationId'>{{applicationId}}</span> &mdash;

					{{e.lastTime|date:'d MMMM yyyy, HH:mm:ss'}}
					<abbr
						class='${lf:isNew(entry) ? "warningMarker" : ""}'
						title='${fullDate}'><c:out value="${lf:shortFormar(lastDate)}"/></abbr>
				</div>

				<div class="operations noBubble">
					<a href="#/details/{{e.checksum}}">Details &rarr;</a>
				</div>
			</div>

			<div class="entryContainer">
				<div class="attributesContainer" loaded="false">
					<div class="spinner"><!----></div>
				</div>
				<div class='entryContent'>
					<c:choose>
						<c:when test="${not empty entry.sampleCause}">
							<pre class="stacktrace noBubble"><c:out value="${lf:formatCause(entry.sampleCause)}"/></pre>
						</c:when>
						<c:otherwise>
							<pre class="stacktrace noBubble"><c:out value="${entry.message}"/></pre>
						</c:otherwise>
					</c:choose>
				</div>

				<c:url var="permaLink" value="/feed/${entry.applicationId}">
					<c:param name="date"><fmt:formatDate value="${lf:date(entry.lastTime)}" pattern="yyyy-MM-dd"/></c:param>
					<c:param name="severity" value="${entry.severity}"/>
				</c:url>
				<c:set var="permaLink" value="${permaLink}\#${entry.checksum}"/>

				<c:set var="issueDescription">${lf:trim(entry.message, 300, '')}
					<c:if test="${entry.sampleCause ne null}">

						Stacktrace:
						${lf:trim(lf:formatCause(entry.sampleCause), 500, '')}
					</c:if>

					http://${pageContext.request.serverName}:${pageContext.request.serverPort}${permaLink}</c:set>

				<div class="entryFooter">
					<c:url value="${jiraInfo.location}/secure/CreateIssueDetails.jspa" var="jiraLink">
						<c:param name="pid" value="${jiraInfo.projectPid}"/>
						<c:param name="issuetype" value="${jiraInfo.issueType}"/>
						<c:param name="summary" value="${lf:trim(entry.message, 100, '...')}"/>
						<c:param name="description" value="${issueDescription}"/>
						<c:param name="priority" value="${jiraInfo.priority}"/>
					</c:url>
					<c:set var="jiraLink"><c:out value="${jiraLink}"/></c:set>
					<a href="${jiraLink}" target='_blank'>Create task</a>
					<a href='${permaLink}'>Permalink</a>

					<a href="${detailsLink}">Details</a>
					<a class='removeEntry asynchronous' href='#'>Remove</a>
				</div>
			</div>

		</div>
	</div>

</div>