@import url("application-box.css");
@import url("ui.all.css");

.entries												{ padding: 20px 0 0 0; }

.entryHeader .count             { position: absolute; width: 45px; height: 42px; color: white;
																	font-weight: bold; font-size: 70%;
																	text-align: center; top: 9px; left: 11px; line-height:42px;
																	-moz-border-radius: 4px 4px 4px 4px; -webkit-border-top-left-radius: 4px;
																	-webkit-border-bottom-left-radius: 4px; -webkit-border-bottom-right-radius: 4px;
																	-webkit-border-top-right-radius: 4px; border-radius: 4px }

.error .count    { background-color: #990000; }
.warning .count  { background-color: #ff6600; }
.info .count     { background-color: #339900; }
.debug .count    { background-color: #247; }
.trace .count    { background-color: #aaa; }

.entry .message                 { color: #444; margin-left: 68px; margin-right: 225px;
																	overflow: hidden; height: 28px; white-space: nowrap; line-height: 26px }

.entry .message .causeType      { font-size: 70%; color: #666; }


.entryHeader .times             { color: #666; font-size: 60%; line-height: 16px; margin-left: 68px; }
.entryHeader .applicationId     { font-variant:small-caps; font-size: 120%; color: black; }
.entryHeader .group             { color: gray !important; }

.entry .spinner                 {	background: url("../images/spinner_large.gif") no-repeat center;
																	height: 66px; width: 100%; padding-bottom: 20px; opacity: 0.7; }
.removing .spinner,
.loadingAttributes .spinner     { display: block !important; }

.entry .entryHeader .operations       { position: absolute; right: 10px; top: 14px;	visibility: hidden }

.entry:hover .entryHeader .operations { visibility: visible; }
.entry .entryHeader .operations A     { padding: 2px 20px; line-height: 30px; }

.entryFooter        { background-color: #eec; padding: 3px 10px 4px 34px; font-size: 120%; }
.entryFooter a      { margin-right: 15px; }

.messageOverlay                 { position: absolute; height: 28px; width:50px; top: 6px; right: 224px;
																	background: url("../images/sha.png") repeat-y;}

.entry:hover .messageOverlay,
.selectedEntry .messageOverlay  { background: url("../images/sha-hover.png") repeat-y; }


.entryContent .attributes       { list-style: none; padding: 0; line-height: 18px; }
.entryContent .attributes label { font-variant: normal; font-size: 120% }
.entryContent .attributes span  { border-left: 1px dotted #997; margin-left: 4px;
																	padding-left: 4px; padding-right: 2px; color: #777 !important;
																	font-family: monospace; }

.entryContent .attributes code  { background-color: #eec; border: 1px dotted #997; padding: 0 2px; font-family: monospace; }
.entryContent ul                { list-style-type: none; padding: 0; color: gray }
.entryContent li span           { color: black }


#severityContainer							{ position: absolute; right: -26px; top: -9px;  }
#severityContainer							{ width: 160px; font-size: 16px; padding: 15px; z-index: 1; color: #4f4f4f;
																	font-family: 'Licaida Grande', Tahoma, sans-serif; }
#severityContainer TABLE TD			{ vertical-align: top; }

#severityContainer .label				{ padding-top: 7px; padding-right: 5px; }

#severityMenu										{ margin: 0; list-style: none; background-color: white; padding: 4px; }
#severityMenu:hover 						{ border: 1px solid #ccc; padding: 3px;
																	-moz-border-radius: 4px 4px 4px 4px; -webkit-border-top-left-radius: 4px;
																	-webkit-border-bottom-left-radius: 4px; -webkit-border-bottom-right-radius: 4px;
																	-webkit-border-top-right-radius: 4px; border-radius: 4px;
																	}

#severityMenu a									{ color: #f60; }

#severityMenu li								{ display: none; margin: 2px; color: #f60; }
#severityMenu:hover li					{ display: block !important  }
#severityMenu li.selected				{ display: block !important }
#severityMenu li.selected span	{ border-bottom: 1px dashed #f60; cursor: pointer }

#severityContainer:hover #severityMenu	{ display: block; }

h2 span#applicationId,
h2 span#date										{ cursor: pointer }