.entryHeader .count             { position: absolute; width: 50px; height: 46px; color: white;
																	font: 'Arial', 'Liberation Sans', 'DejaVu Sans', sans-serif;
																	font-weight: bold; font-size: 70%;
																	text-align: center; top: 15px; left: 10px; line-height:46px; }

.entry .message                 { color: black; margin-left: 72px; margin-right: 225px;
																	overflow: hidden; height: 32px; white-space: nowrap }

.entryHeader .times             { color: #666; font-size: 55%; line-height: 20px; margin-left: 72px; }
.entryHeader .applicationId     { font-variant:small-caps; font-size: 120%; color: black; }
.entryHeader .group             { color: gray !important; }

.removing .entryHeader .spinner,
.loadingAttributes .entryHeader .spinner { display: inline !important; }

.entryFooter        { background-color: #eec; padding: 3px 10px 4px 34px; font-size: 120%; }
.entryFooter a      { margin-right: 15px; }

.messageOverlay                 { position: absolute; height: 32px; width:50px; top: 10px; right: 224px;
																	background: url("/images/sha.png") repeat-y;}
.entry:hover .messageOverlay,
.selectedEntry .messageOverlay  { background: url("/images/sha-hover.png") repeat-y; }

.entryContent .attributes                     { list-style: none; padding: 0; line-height: 18px; }
.entryContent .attributes label               {  }
.entryContent .attributes span                { border-left: 1px dotted #997; margin-left: 4px;
																	padding-left: 4px; padding-right: 2px; color: #777 !important; font-family: monospace; }

.entryContent .attributes code                { background-color: #eec; border: 1px dotted #997; padding: 0 2px; font-family: monospace; }
.entryContent ul                { list-style-type: none; padding: 0; color: gray }
.entryContent li span           { color: black }
