@import url("menubar.css");
@import url("search-box.css");
@import url("sort-box.css");
@import url("entry.css");

body				                    { font-size: 22px; font-family: tahoma, sans-serif; background-color: #fafafa; margin: 0; padding: 0 }
img                             { border: 0 }

TABLE, TR, TBODY, TD                        { padding: 0; margin: 0; }

#header                         { padding: 0; margin: 0; height: 65px; width: 950px; text-align: left;
                                  position: relative; }

#searchPanel                    { position: absolute; right: 15px; top: 60%; color: gray; font-size: 12px; }

h2                              { font-size: 24px; font-weight: normal; color: #555; margin: 0 0 5px 0 }
h2 a                            { text-decoration:none !important; }
h2 a:visited                    { color: rgb(0, 153, 255) }


#footer                         { font-size: 80%; margin-top: 20px; color: gray; text-align: center; }

a					                      { color: #0099ff; text-decoration: none }
a:hover				                  { color: red; text-decoration: underline }
a:visited			                  { color: brown; text-decoration: underline }

.noBubble                       { cursor: auto }

#breadcrumbsContainer           { font-size: 12px; }



.asynchronous                   { color: #0099ff !important; text-decoration: none !important;
																	border-bottom: 1px dashed !important; cursor: pointer }

#mainPanel                      { position: relative; width: 970px; text-align: left; }

#mainPanel #topContainer        { background: url("/images/background-top.png") no-repeat; height: 14px }
#mainPanel #bottomContainer     { background: url("/images/background-bottom.png") no-repeat; height: 14px }

#contentPanel                   { background: url("/images/background-repeat.png") repeat-y; padding: 0 20px; }

#notificationPanel              { text-align: center; font-size: 150%; color: #666;
																	font-family: serif !important; padding-top: 40px; padding-bottom: 40px; }

abbr                            { cursor: default; border-bottom: 1px dotted !important }

#slider             { font-size: 50%; width: 100px }
#sliderValue        { width: 100px; text-align: center; padding-bottom: 5px; font-size: 70%;
											visibility: hidden; font-variant: small-caps; }
#sliderContainer                       { padding: 10px; position: absolute; right: 20px; top: 0; }
#sliderContainer:hover #sliderValue    { visibility: visible; }

p                   { font-size: 14px; }

FORM                { margin: 0 }

