#menuBar            { position: absolute; right: 15px; top: -2px; padding: 8px; -moz-border-radius: 0 4px 0 4px;
                      border-radius: 0 4px 0 4px; -webkit-border-bottom-left-radius: 4px;
                      -webkit-border-bottom-right-radius: 4px; background-color: #eee; border: 1px solid #ddd;  }

#menuBar            { font-size: 12px; font-weight: bold; font-family: helvetica, clean, sans-serif }

#menuBar A,
#menuBar A:visited,
#menuBar A:hover    { color: rgb(65, 131, 196); text-decoration: none; padding: 5px; }

#menuBar A:hover    { text-decoration: underline !important; }


#menuBar .devider   { border-left: 1px outset gray; }