@import "aggregated-feed.css";
@import "main.css";

#givenQuery               { color: black; margin-bottom: 15px; text-align: center; font-size: 0.7em; width: 100% }
#givenQuery span.keyword  { color: gray; border-bottom: 1px dashed black; margin-right: 5px; }

#givenQuery #query        { line-height: 38px; cursor: pointer }

#givenQuery #query,
#givenQuery input         { font-family: Monaco, 'Courier New', monospace; font-size: 1em; width: 680px; text-align: center; }

#givenQuery input         { padding: 5px }