#searchBox              { position: absolute; left:30%; width: 40%;	top: -10px }

#searchBox #searchInput { font-size: 16px; color: black; padding: 5px 5px 5px 25px;
													background: url("/images/magnifying_glass.png") 5px center no-repeat;
													width: 93%; border: 1px inset }

#searchBox FORM          { position: relative; }

#suggest ul               {	padding: 10px 0; margin: 0; list-style-type: none; font-size: 50%; font-family: 'Arial' }
#suggest ul li            { padding-left: 25px; padding-right: 15px; }
#suggest .selectedItem    { background-color: gray; color: white; }

#searchBox #legend        { background-color: white; width: 99%; position: relative;
														opacity: 0.97; z-index: 10; padding-top: 3px; padding-left: 3px;
														border: 1px solid #ddd }

#legend ul     { padding: 5px 5px 10px 25px; margin: 0; list-style-type: none; font-size: 65%; font-family: 'Arial' }
#legend a      { font-weight: bold; }



#legend                   { display: none }
#searchBox:hover #legend  { display: block; }


