@import "aggregated-feed.css";
@import "main.css";

#givenQuery               { color: black; margin-bottom: 15px; text-align: center; font-size: 0.7em; }
#givenQuery label         { margin-right: 10px; color: #666;
                            font-family: helvetica, arial, clean, sans-serif; font-weight: bold; }
#givenQuery span.keyword  { color: gray; border-bottom: 1px dashed black; margin-right: 5px; }

#givenQuery #query        { line-height: 38px; cursor: pointer }

#givenQuery #query,
#givenQuery input         { font-family: Monaco, 'Courier New', monospace; font-size: 1em; width: 350px; text-align: center; }

#givenQuery input         { padding: 5px; }