@import url("application-box.css");
@import url("ui.all.css");

.entries {
	padding: 20px 0 0 0;
}

.entryHeader {
	height: 60px;
	padding: 8px 0;
	font-family: 'Open Sans', sans-serif;
}

.entryHeader .count {
	position: absolute;
	width: 60px;
	height: 60px;
	padding: 0;
	margin: 0;
	color: white;
	font-weight: bold;
	text-align: center;
	top: 8px;
	left: 10px;
}

.entry a {
	text-decoration: inherit;
}

.entry {
	border-top: 1px dashed #ccc
}

.entry:hover {
	background-color: #ffffe5;
}

.entry .message {
	color: #111;
	margin-left: 85px;
	margin-right: 225px;
	margin-top: 6px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	overflow: hidden;
	height: 28px;
	white-space: nowrap;
	line-height: 26px
}

.entry .message .causeType {
	font-size: 14px;
	color: #444;
	background-color: #eee;
	font-weight: 600;
	border-radius: 4px;
	padding: 1px 10px;
	margin-right: 3px;
}

.entryHeader .times {
	color: #666;
	font-size: 60%;
	line-height: 16px;
	margin-left: 85px;
}

.times abbr {
	margin-right: 5px;
	cursor: default;
	border-bottom: 1px dotted !important
}

.causeType abbr {
	cursor: default;
	border-bottom: 0;
}

.entryHeader .applicationId {
	font-variant: small-caps;
	font-size: 120%;
	color: black;
}

.entryHeader .group {
	color: gray !important;
}

.entryFooter {
	background-color: #eec;
	padding: 3px 10px 4px 34px;
	font-size: 120%;
}

.entryFooter a {
	margin-right: 15px;
}

.messageOverlay {
	position: absolute;
	height: 28px;
	width: 50px;
	top: 14px;
	right: 224px;
	background: url("../images/sha.png") repeat-y;
}

.entry:hover .messageOverlay,
.selectedEntry .messageOverlay {
	background: url("../images/sha-hover.png") repeat-y;
}

.entryContent ul {
	list-style-type: none;
	padding: 0;
	color: gray
}

.entryContent li span {
	color: black
}

#severityContainer {
	position: absolute;
	right: -26px;
	top: -9px;
}

#severityContainer {
	width: 160px;
	font-size: 16px;
	padding: 15px;
	z-index: 1;
	color: #4f4f4f;
	font-family: 'Licaida Grande', Tahoma, sans-serif;
}

#severityContainer TABLE TD {
	vertical-align: top;
}

#severityContainer .severity-label {
	padding-top: 7px;
	padding-right: 5px;
}

#severityMenu {
	margin: 0;
	list-style: none;
	background-color: white;
	padding: 4px;
}

#severityMenu:hover {
	border: 1px solid #ccc;
	padding: 3px;
	border-radius: 4px;
}

#severityMenu a {
	color: #f60;
}

#severityMenu li {
	display: none;
	margin: 2px;
	color: #f60;
}

#severityMenu:hover li, #severityMenu.hover li {
	display: block !important
}

#severityMenu li.selected {
	display: block !important
}

#severityMenu li.selected span {
	border-bottom: 1px dashed #f60;
	cursor: pointer
}

#severityContainer:hover #severityMenu {
	display: block;
}

h2 span#applicationId,
h2 span#pieChartLink,
h2 span#date {
	cursor: pointer
}

h2 span#pieChartLink {
	margin-left: 5px;
}

#applicationSelector {
	width: 250px
}

#applicationSelector	.notification {
	text-align: center;
	padding: 5px;
}

#applicationSelector A.applicationLink {
	font-size: 14px;
	width: 108px;
	float: left
}

#applicationSelector A.applicationLink {
	dispaly: block;
	padding: 5px;
}

#applicationSelector A.applicationLink:hover {
	background-color: #a2a2a2
}

.popupContainer .innerBlock A,
.popupContainer .innerBlock A:visited,
.popupContainer .innerBlock A:hover {
	color: white;
	text-decoration: none
}

#dateSelector {
	font-size: 12px;
}

#dateSelector TD {
	padding: 2px;
	font-weight: bold
}

#dateSelector TABLE {
	padding: 0;
}

#dateSelector TH {
	color: #ddd;
}

#dateSelector span.today A {
	color: #ee3;
}

#dateSelector span.inactive {
	color: #999;
}

#pieChartPlaceHolder {
	width: 200px;
	height: 200px;
	margin: 5px;
}

#pieChartData {
	display: none
}

#chartTooltip {
	width: 200px;
	padding: 2px;
	font-size: 13px;
	border: 2px solid #F4F4F4;
	background-color: #FAFAFA;
	opacity: 0.90
}

.noMessage {
	color: #ddd;
	font-size: 90%;
}

.rightNowMarker {
	background-color: #f60;
	color: white;
	font-weight: 600;
	font-size: 80%;
	padding: 0 5px;
	border-radius: 4px;
	margin-left: 5px;
}