@import url("application-box.css");
@import url("ui.all.css");

.entries {
	padding: 20px 0 0 0;
}

.entries .spinner {
	text-align: center;
}

.entryHeader {
	height: 60px;
	padding: 8px 0;
	font-family: 'Open Sans', sans-serif;
}

.entryHeader .count {
	position: absolute;
	width: 60px;
	height: 60px;
	padding: 0;
	margin: 0;
	color: white;
	font-weight: bold;
	text-align: center;
	top: 8px;
	left: 10px;
}

.entry a {
	text-decoration: inherit;
}

.entry {
	border-top: 1px dashed #ccc
}

.entry:hover {
	background-color: #ffffe5;
}

.entry .offset {
	margin-left: 85px;
}

.entry .message {
	color: #111;
	margin-right: 80px;
	margin-top: 6px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	overflow: hidden;
	height: 28px;
	white-space: nowrap;
	line-height: 26px
}

.entry .newClusterMarker {
	color: #9b3837;
	position: absolute;
	vertical-align: middle;
	width: 50px;
	top: 0;
	right: 0;
	line-height: 77px;
	font-size: 48px;
}

.entry .group {
	padding: 0 5px;
}

.entry .group ABBR {
	border-bottom: 0;
}

.entry .issueKey {
	text-transform: uppercase;
}

.entry .causeType, .entry .group, .entry .applicationId {
	font-size: 13px;
	line-height: 16px;
	border-radius: 3px;
	color: #999;
	border: 1px solid #ddd;
	padding: 0 6px;
}

.entry .causeType, .entry .issueKey {
	margin-right: 3px;
	background-color: #eee;
}

.entryHeader .times {
	color: #666;
	font-size: 12px;
	line-height: 16px;
}

.times abbr {
	margin-right: 5px;
}

.causeType abbr {
	border-bottom: 0;
}

.entry .applicationId {
	text-transform: capitalize;
}

.entryFooter {
	background-color: #eec;
	padding: 3px 10px 4px 34px;
	font-size: 120%;
}

.entryFooter a {
	margin-right: 15px;
}

.entryContent ul {
	list-style-type: none;
	padding: 0;
	color: gray
}

.entryContent li span {
	color: black
}

#severityContainer {
	position: absolute;
}

#severityContainer {
	width: 160px;
	font-size: 16px;
	padding: 3px 0 0 10px;
	z-index: 1;
	color: #4f4f4f;
	font-family: 'Licaida Grande', Tahoma, sans-serif;
}

#severityMenu {
	margin: 0;
	list-style: none;
	background-color: white;
	padding: 4px;
}

#severityMenu:hover {
	border: 1px solid #ccc;
	padding: 3px;
	border-radius: 4px;
}

#severityMenu a {
	color: #f60;
}

#severityMenu li {
	display: none;
	margin: 2px;
	color: #f60;
}

#severityMenu:hover li, #severityMenu.hover li {
	display: block !important
}

#severityMenu li.selected {
	display: block !important
}

#severityMenu li.selected span {
	border-bottom: 1px dashed #f60;
	cursor: pointer
}

#severityContainer:hover #severityMenu {
	display: block;
}

.dropdown span:first-child {
	padding: 0 5px;
	border-radius: 5px;
}

.open span:first-child {
	background-color: #eee;
}

.dropdown li a {
	font-size: 14px;
	letter-spacing: 0;
}

.dropdown li a.system {
	font-size: 12px;
}

.dropdown li a:first-letter {
	text-transform: capitalize;
}

h2 #applicationId {
	text-transform: capitalize;
}

h2 #applicationId,
h2 #date {
	cursor: pointer
}

h2 span#pieChartLink {
	margin-left: 5px;
}

.popupContainer .innerBlock A,
.popupContainer .innerBlock A:visited,
.popupContainer .innerBlock A:hover {
	color: white;
	text-decoration: none
}

#dateSelector {
	font-size: 12px;
}

#dateSelector TD {
	padding: 2px;
	font-weight: bold
}

#dateSelector TABLE {
	padding: 0;
}

#dateSelector TH {
	color: #ddd;
}

#dateSelector span.today A {
	color: #ee3;
}

#dateSelector span.inactive {
	color: #999;
}

#pieChartPlaceHolder {
	width: 200px;
	height: 200px;
	margin: 5px;
}

#pieChartData {
	display: none
}

#chartTooltip {
	width: 200px;
	padding: 2px;
	font-size: 13px;
	border: 2px solid #F4F4F4;
	background-color: #FAFAFA;
	opacity: 0.90
}

.noMessage {
	color: #ddd;
	font-size: 90%;
}

.rightNowMarker {
	background-color: #f60;
	color: white;
	font-weight: 500;
	font-size: 13px;
	padding: 0 5px;
	border-radius: 4px;
	margin: 0 5px;
	line-height: 16px;
	border: 1px solid #f60;
}

.description {
	font-size: 12px;
	padding: 0 5px;
}