.log {
	font-family: monospace;
	font-size: 12px;
	color: #666
}

.logEntry {
	padding: 5px;
}

.logEntry:hover {
	background-color: #ffffee;
	color: black;
}

.spinner {
	background: url("/images/spinner_large.gif") no-repeat center;
	height: 66px;
	width: 100%;
	padding-bottom: 20px;
	opacity: 0.7;
}

.removing .spinner,
.loadingAttributes .spinner {
	display: block !important;
}

.attributes {
	list-style: none;
	padding-left: 34px;
	line-height: 18px;
	font-size: 12px;
}

.attributes label {
	font-variant: normal;
	font-size: 120%
}

.attributes span {
	border-left: 1px dotted #997;
	margin-left: 4px;
	padding-left: 4px;
	padding-right: 2px;
	color: #777 !important;
	font-family: monospace;
}

.attributes code {
	background-color: #eec;
	border: 1px dotted #997;
	padding: 0 2px;
	font-family: monospace;
	margin-right: 10px;
}