TABLE TD {
	font-size: 14px;
}

#logSamples {
	margin-top: 20px;
}

.log {
	color: #222;
	background-color: #fcfcfc;
	border: 1px dashed #ddd;
	padding: 10px;
	border-radius: 5px;
}

.log P, .log TD {
	padding: 0;
	margin: 0;
	font-size: 12px;
	font-family: 'Monaco', monospace;
}

.log TABLE.attr TD {
	padding: 0 5px;
}

.log TABLE.attr TD.attributeName {
	text-align: right;
	color: #999 !important;
}

.log .message {
	font-weight: bold;
	font-size: 14px;
}

P.cause {
	white-space: pre;
	font-size: 12px;
	font-family: 'Monaco', monospace;
	margin-top: 5px;
}

.log div {
	padding: 10px 0;
}

.spinner {
	background: url("/images/spinner_large.gif") no-repeat center;
	height: 66px;
	width: 100%;
	padding-bottom: 20px;
	opacity: 0.7;
}

.removing .spinner,
.loadingAttributes .spinner {
	display: block !important;
}

.attributes {
	list-style: none;
	padding: 0;
	font-size: 14px;
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
	margin: 0;
}

.attributes label {
	color: #999 !important;
	display: inline;
	font-size: 12px;
}

.attributes span {
	margin-left: 4px;
	padding-left: 4px;
	padding-right: 2px;
	font-size: 11px;
	color: #999 !important;
}

.attributes code {
	padding: 0 2px;
	font-weight: 300;
	color: black;
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, sans-serif;
	margin-right: 10px;
	background: none;
	border: none;
	font-size: 14px;
}

#statisticsTable {
	width: 100%;
	max-width: 1000px;
}

#minuteStatistics {
	height: 150px;
	width: 50%;
}

#dayStatistics {
	height: 150px;
	width: 50%;
}

.datepicker TD, TH {
	font-size: 14px;
}

#editModalButton {
	position: absolute;
	margin: 8px 0 0 15px;
}

TD.severity-cell {
	vertical-align: middle;
	width: 10px;
	text-align: center;
}

TD.category-cell {
	font-family: 'Monaco', monospace;
	font-size: 12px;
}

TD.message-cell {
	width: 70%;
}