@import url("menubar.css");
@import url("sort-box.css");
@import url("entry.css");

body {
	font-size: 22px;
	font-family: tahoma, sans-serif;
	background-color: #fafafa;
	margin: 0;
	padding: 0
}

h3 {
	font-family: 'Open Sans', serif;
	font-weight: 600;
	font-size: 18px;
	margin-bottom: 10px;
}

img {
	border: 0
}

.section {
	margin: 0 20px 20px 20px;
	font-family: 'Open Sans', serif;
	font-size: 13px;
}

.logo {
	margin-top: 10px
}

TABLE, TR, TBODY, TD {
	padding: 0;
	margin: 0;
}

#header {
	margin: 0;
	height: 65px;
	text-align: left;
	position: relative;
	padding: 0 0 0 10px;
}

#searchPanel {
	position: absolute;
	right: 10px;
	top: 60%;
	color: gray;
	font-size: 12px;
}

#searchInput {
	font-size: 14px;
}

h2 {
	font-size: 24px;
	letter-spacing: -1px;
	color: #4f4f4f;
	margin: 15px 0;
	font-family: 'Open Sans', helvetica, sans-serif;
	font-weight: normal;
}

h2:first-letter {
	text-transform: capitalize;
}

h2 span.additionalInfo {
	color: #b1b1b1
}

a {
	color: #0099ff;
	text-decoration: none
}

a:hover {
	color: red;
	text-decoration: underline
}

a:visited {
	color: brown;
	text-decoration: underline
}

.noBubble {
	cursor: auto
}

#breadcrumbsContainer {
	font-size: 12px;
}

.asynchronous {
	color: #0099ff !important;
	text-decoration: none !important;
	border-bottom: 1px dashed !important;
	cursor: pointer
}

#mainPanel {
	position: relative;
	width: 970px;
	text-align: left;
}

#contentPanel {
	padding: 0 20px 20px 20px;
	margin-top: 10px;
	background-color: white;
	text-align: left;
	border: 1px solid white;
	border-radius: 5px;
	position: relative;
}

#notificationPanel {
	text-align: center;
	font-size: 200%;
	color: #ddd;
	padding-bottom: 80px;
	font-weight: bold
}

#notificationPanel span {
	display: block;
}

#notificationPanel p {
	font-weight: normal;
	color: #333;
	font-size: 50%;
}

#slider {
	font-size: 50%;
	width: 100px
}

#sliderValue {
	width: 100px;
	text-align: center;
	padding-bottom: 5px;
	font-size: 70%;
	visibility: hidden;
	font-variant: small-caps;
}

#sliderContainer {
	padding: 10px;
	position: absolute;
	right: 20px;
	top: 0;
}

#sliderContainer:hover #sliderValue {
	visibility: visible;
}

p {
	font-size: 14px;
}

FORM {
	margin: 0
}

#footer {
	font-size: 16px;
	font-family: 'Lucida Grande', Tahoma, Verdana, Helvetica, sans-serif;
	margin-top: 20px;
	color: #333;
	text-align: center;
	text-shadow: 1px 1px 0 #eee
}

#errorPanel {
	text-align: center;
	margin-top: 20%;
	padding: 10px;
	background-color: #ffffe5;
	border: 1px solid #ddddc3;
	max-width: 50%
}

#errorPanel h1 {
	font-size: 26px;
	letter-spacing: -1px;
	color: #4f4f4f;
	margin: 5px 0 5px 0;
	font-family: 'Lucida grande', helvetica, arial, clean, sans-serif;
	font-weight: normal;
}

#errorPanel h2 {
	font-size: 16px;
	letter-spacing: 0;
}

#errorPanel pre {
	font-family: monospace;
	white-space: pre-wrap;
	color: #777;
	font-size: 15px;
}

.input-append {
	margin-bottom: 0;
}


.dashboard				{ max-width: 500px; margin: 0 auto }
.dashboard .item			{ font-size: 18px; border-top: 1px dashed #b3b3b3; float: left; padding: 10px 15px 5px 15px; width: 400px; clear: both; color: #060606 }
.dashboard .name			{ float: left; width: 180px; margin: 3px 10px 0 0 }
.dashboard .detail			{ text-decoration: none; font-size: 11px; float: left; width: 30px; text-align: center }
.dashboard .detail i			{ display: block; width: 10px; height: 10px; font-size: 1px; border-radius: 5px; background: #ccc; margin: 0 auto }
.dashboard .detail1 i			{ background: #9b3837 }
.dashboard .detail2 i			{ background: #ff6f00 }
.dashboard .detail3 i			{ background: #01a32d }
.clear					{ clear: both }
