.popupContainer													{ position: absolute; z-index:1; top: 50px; opacity: 0.95; }
.popupContainer .outerBlock							{ background-color: white; padding: 2px;
																					box-shadow: 0 0 10px #999; -moz-box-shadow: 0 0 10px #999;
																					-webkit-box-shadow: 0 0 4px #aaa; border-radius: 5px;
																					-webkit-border-radius: 5px; -moz-border-radius: 5px; }

.popupContainer .innerBlock							{ background: #3e3e3e url('/images/popup-background.png') repeat-x;
																					color: white; padding: 5px; border-radius: 5px; -webkit-border-radius: 5px;
																					-moz-border-radius: 5px; font-size: 14px;
																					font-family: 'Lucida Grande', sans-serif; letter-spacing: -1px }

.popupContainer .innerBlock .links					{ font-size: 12px }

.popupContainer .innerBlock A:active				{ color: #ddd; }
.popupContainer .innerBlock *:first-letter	{ text-transform: capitalize; }

.popupContainer	.relatedLinks								{ padding: 5px; font-size: 12px; }