@import "aggregated-feed.css";
@import "main.css";

.queryBox {
	width: 100%;
	text-align: center;
	margin: 30px;
}

.queryBox input {
	font-family: Monaco, 'Courier New', monospace !important;
	width: 650px;
}

.samplesTable TD {
	font-size: 16px;
	padding: 5px;
}

.samplesTable SPAN {
	font-family: Monaco, 'Courier New', monospace;
	background-color: #f5f5f5;
	padding: 5px;
	margin-right: 10px;
	border-radius: 4px;
	font-size: 12px;
	cursor: pointer;
}

.sampleDescription {
	color: #444;
}