@import url("menubar.css");
@import url("entry.css");

#sortBox                { font-size: 65%; position: absolute; right: 0; top: 0;  }
#sortBox label          { color: #aaa; }
#sortBox span           { cursor: pointer; }
#sortBox span.selected  { background-color: #4a4a4a; color: white; padding: 2px 5px; cursor: default !important; }