<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xmlns:p="http://www.springframework.org/schema/p"
			 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:default.properties</value>
				<value>${resourcesFile}</value>
			</list>
		</property>
	</bean>

	<import resource="integration.xml"/>
	<import resource="scheduler.xml"/>

	<bean id="bootstrap" class="com.farpost.logwatcher.web.Bootstrap"
				p:indexLocation-ref="indexLocation"
				p:entryListener-ref="transportListener"
				p:loadSampleDump="${loadSampleDump}"/>

	<bean id="indexLocation" class="java.io.File" init-method="mkdirs">
		<constructor-arg value="${index.location}"/>
	</bean>

	<bean id="clusterDao" class="com.farpost.logwatcher.cluster.SqlClusterDao">
		<constructor-arg ref="dataSource"/>
	</bean>
	<bean id="clusterStatistics" class="com.farpost.logwatcher.statistics.SqlClusterStatisticImpl">
		<constructor-arg ref="dataSource"/>
	</bean>

	<bean id="luceneDirectory" class="org.apache.lucene.store.FSDirectory" factory-method="open">
		<constructor-arg ref="indexLocation"/>
	</bean>

	<bean class="com.farpost.logwatcher.web.AttributeFormatterImpl">
		<constructor-arg value="${templates}"/>
	</bean>

	<bean id="storage" class="com.farpost.logwatcher.storage.LuceneSqlLogStorage"
				p:commitThreshold="${index.commitThreshold}" destroy-method="close">
		<constructor-arg ref="luceneDirectory"/>
		<constructor-arg ref="dataSource"/>
	</bean>

	<bean id="transportListener" class="com.farpost.logwatcher.transport.CompositeEventListener">
		<constructor-arg>
			<list>
				<ref bean="writeToStorageTransportListener"/>
				<ref bean="trackProblemMethodsListener"/>
			</list>
		</constructor-arg>
	</bean>

	<!-- "Сервис", записывающий логи в хранилище -->
	<bean id="writeToStorageTransportListener" class="com.farpost.logwatcher.transport.NgApiEntryListener">
		<constructor-arg name="storage" ref="storage"/>
		<constructor-arg name="clusterDao" ref="clusterDao"/>
		<constructor-arg name="clusterStatistic" ref="clusterStatistics"/>
	</bean>

	<bean id="trackProblemMethodsListener" class="com.farpost.logwatcher.listener.TrackProblemMethodsListener">
		<constructor-arg ref="stackTraceParser"/>
	</bean>

	<bean id="stackTraceParser" class="com.farpost.logwatcher.JavaStackTraceParser"
				p:allowedPackagePrefix="com.farpost"/>

	<bean id="marshaller" class="com.farpost.logwatcher.marshalling.Jaxb2Marshaller"/>

	<bean id="queryTranslator" class="com.farpost.logwatcher.AnnotationDrivenQueryTranslator">
		<constructor-arg>
			<bean class="com.farpost.logwatcher.TranslationRulesImpl"/>
		</constructor-arg>
	</bean>
</beans>
