<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xmlns:p="http://www.springframework.org/schema/p"
			 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:default.properties</value>
				<value>${resourcesFile}</value>
			</list>
		</property>
	</bean>

	<import resource="integration.xml"/>
	<import resource="scheduler.xml"/>

	<bean class="com.farpost.logwatcher.web.Bootstrap"
				init-method="load"
				lazy-init="false"
				p:storage-ref="storage"
				p:loadSampleDump="${loadSampleDump}"/>

	<bean id="storage" class="com.farpost.logwatcher.storage.LuceneSqlLogStorage">
		<constructor-arg>
			<bean class="org.apache.lucene.store.RAMDirectory"/>
		</constructor-arg>
		<constructor-arg ref="dataSource"/>
		<property name="commitThreshold" value="0"/>
	</bean>

	<bean id="aggregator" class="com.farpost.logwatcher.aggregator.ExecutorServiceAggregator"
				p:batchSize="200">
		<constructor-arg ref="marshaller"/>
	</bean>

	<bean id="marshaller" class="com.farpost.logwatcher.marshalling.Jaxb2Marshaller"/>

	<bean id="queryTranslator" class="com.farpost.logwatcher.AnnotationDrivenQueryTranslator">
		<constructor-arg>
			<bean class="com.farpost.logwatcher.TranslationRulesImpl"/>
		</constructor-arg>
	</bean>
</beans>
