#* @vtlvariable name="p" type="com.farpost.logwatcher.web.controller.FeedController.FeedPage" *#
<html>
<head>
	#if($p.applicationId.isPresent())
		<title>LogWatcher: $p.applicationId feed</title>
	#else
		<title>LogWatcher aggregated feed</title>
	#end


	<link rel="stylesheet" type="text/css" href="/css/popup.css"/>
	<link rel="stylesheet" type="text/css" href="/css/aggregated-feed.css"/>

	<script type="text/javascript" src="/js/calendar.js"></script>

	<script type="text/javascript">
		var severityLevel = '$p.severity';
	</script>

	#if($p.applicationId.isPresent())
		<link rel="alternate" type="application/rss+xml" title="LogWatcher RSS"
					href="/rss/$p.applicationId?severity=$p.severity"/>
	#end
	#set($dt = $date.format("yyyy-MM-dd", $p.date))
</head>

<body>
<h2>

	<span class="dropdown">
		#if($p.applicationId.isPresent())
			<span id="applicationId" class="dropdown-toggle" data-toggle="dropdown">$p.applicationId.get()</span>
		#else
			<span id="applicationId" class="dropdown-toggle" data-toggle="dropdown">All applications</span>
		#end

		<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
			#if($p.applications.isEmpty())
				<li class="disabled"><a onclick="return false;">No applications found</a></li>
			#else
				<li><a href="/feed"><b>All applications</b></a></li>
				#foreach($a in $p.applications)
					<li><a href="$a.url">$a.id</a></li>
				#end
			#end

			<li class="divider"></li>
			<li><a class="system" href="/">Return to dashboard</a></li>
		</ul>
	</span>

	<span class="additionalInfo">
		on <span id="date">$date.format("dd MMMM, yyyy", $p.date)</span>
	</span>

	<span id="severityContainer">
		#macro(severity $severity $currentSeverity)
			#if($severity != $currentSeverity)
				<li><a href="#" onclick="changeSeverity('/session?severity=$severity')">$severity</a></li>
			#end
		#end
		<ul id="severityMenu">
			<li class="selected"><span>$p.severity</span></li>
			#severity("error", $p.severity)
			#severity("warning", $p.severity)
			#severity("info", $p.severity)
			#severity("debug", $p.severity)
			#severity("trace", $p.severity)
		</ul>
	</span>
</h2>

	#macro(popup $id)
	<div class="popupContainer" id="${id}" style="display: none">
		<div style="position: relative">

			<img class="mark" src="/images/popup-mark.png" alt="" style="position: absolute; top: -10px; left: 30px"/>

			<div class="outerBlock">
				<div class="innerBlock">
					#set($_body = $!bodyContent)
					$_body
				</div>
			</div>
		</div>
	</div>
	#end

	#@popup("applicationSelector")
		#if($p.applications.isEmpty())
		<div class="notification">
			No applications found
		</div>
		#else
			#foreach($a in $p.applications)
			<a class="applicationLink" href="$a.url">$a.id</a>
			#end
		#end
	<div style="clear: both;">&nbsp;</div>

	<div class="relatedLinks"><a href="/dashboard">Return to dashboard</a></div>
	#end



<script type="text/javascript">
	var baseUrl = "/feed/$p.applicationId.or('')";
	var baseDate = new Date("$date.format('yyyy', $p.date)", $date.format('M', $p.date)-1, 1);
	var urlCallback = function (date) {
		return baseUrl + '?date=' + date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate();
	};
	$("body").on("click", "a.prevMonthLink", function () {
		baseDate.setMonth(baseDate.getMonth() - 1);
		var newContent = buildCal(baseDate, urlCallback);
		$("#dateSelector .innerBlock").html(newContent);
		return false;
	});
	$("body").on("click", "a.nextMonthLink", function () {
		baseDate.setMonth(baseDate.getMonth() + 1);
		var newContent = buildCal(baseDate, urlCallback);
		$("#dateSelector .innerBlock").html(newContent);
		return false;
	})
</script>

	#@popup("dateSelector")
	<script type="text/javascript">
		document.write(buildCal(baseDate, urlCallback));
	</script>
	#end

<div class="text-center">
	<input id="filterPattern" type="text" class="input-xlarge" placeholder="Filter by message..."/>
</div>
<div class="entries">
	<div class="spinner">
		<img src="/images/spinner_large.gif">
	</div>
</div>

<script type="text/javascript">
	var filterFeed = function () {
		var pattern = $("#filterPattern").val().toLowerCase();
		$(".entries .message").each(function (i, v) {
			var text = v.innerText ? v.innerText.toLowerCase() : '';
			var container = $(v).closest(".entry");

			if (text.indexOf(pattern) >= 0) {
				container.show(0);
			} else {
				container.hide(0);
			}
		});
	};

	$("#filterBtn").click(filterFeed);
	$("#filterPattern").keyup(function (e) {
		if (e.which == 13) {
			e.preventDefault();
		}
		filterFeed();
	});

	function updateFeed() {
		$.ajax({
			url: "/service/feed/${p.applicationId.or('')}",
			data: {'date': "$dt"}
		}).done(function (data) {
				$(".entries").html(data);
				var maxData = 0;
				var sel = $('.entry .count');
				sel.each(function (i, canvas) {
					var count = parseInt($(canvas).attr("data-count"));
					if (count > maxData) maxData = count;
				});
				sel.each(function (i, canvas) {
					var count = parseInt($(canvas).attr("data-count"));
					var severity = $(canvas).attr("data-severity");
					new Counterina(canvas, maxData).draw(count, severity);
				});
				filterFeed();
			});
		setTimeout(updateFeed, 6000);
	}
	setTimeout(updateFeed, 0);
</script>

</body>
</html>
