#* @vtlvariable name="p" type="com.farpost.logwatcher.web.controller.DashboardController.DashboardPage" *#
<html>
<head>
	<title>LogWatcher Dashboard</title>
	<link rel="stylesheet" type="text/css" href="/css/dashboard.css"/>
</head>
<body>

	#macro(dt $severity $s)
		#if($s[$severity])
		<span class="severity-circle $severity"><i>&nbsp;</i> $f.shortNumberFormat($s[$severity])</span>
		#else
		<span class="severity-circle"><i>&nbsp;</i> &nbsp;</span>
		#end
	#end

<h2>Dashboard</h2>

	#if($p.applications.isEmpty())
	<div id="notificationPanel">
		<span>&empty;</span><br/>
		No entries found
	</div>
	#else
	<div class="dashboard">
		#foreach($app in $p.applications)
			#set($s = $p.getApplicationStatistics($app))
			#if($s.isEmpty())
				<a href="/feed/$app" class="item empty">
					<span class="name">$app</span>
				</a>
			#else
				<a href="/feed/$app" class="item">
					<span class="name">$app</span>
					#dt("error", $s)
					#dt("warning", $s)
					#dt("info", $s)
					#dt("debug", $s)
					#dt("trace", $s)
				</a>
			#end
		#end
	</div>
	<div class="clear">&nbsp;</div>
	#end

<div style="clear: both;"></div>
</body>
</html>