#* @vtlvariable name="p" type="com.farpost.logwatcher.web.controller.DashboardController.DashboardPage" *#
<html>
<head>
	<title>LogWatcher Dashboard</title>
	<link rel="stylesheet" type="text/css" href="/css/dashboard.css"/>
</head>
<body>
<h2>Dashboard</h2>

	#if($p.applications.isEmpty())
	<div id="notificationPanel">
		<span>&empty;</span><br/>
		No entries found
	</div>
	#else
	<div class="dashboard">
		#foreach($app in $p.applications)
			<a href="/feed/$app" class="item">
				<span class="name">$app</span>
				#set($s = $p.getApplicationStatistics($app))
				#if($s["error"])
					<span class="detail error"><i>&nbsp;</i> $f.shortNumberFormat($s["error"])</span>
				#else
					<span class="detail error"><i>&nbsp;</i></span>
				#end
				#if($s["warning"])
					<span class="detail warning"><i>&nbsp;</i> $f.shortNumberFormat($s["warning"])</span>
				#else
					<span class="detail warning"><i>&nbsp;</i></span>
				#end
				#if($s["info"])
					<span class="detail info"><i>&nbsp;</i> $f.shortNumberFormat($s["info"])</span>
				#else
					<span class="detail info"><i>&nbsp;</i></span>
				#end
				#if($s["debug"])
					<span class="detail debug"><i>&nbsp;</i> $f.shortNumberFormat($s["debug"])</span>
				#else
					<span class="detail debug"><i>&nbsp;</i></span>
				#end
				#if($s["trace"])
					<span class="detail trace"><i>&nbsp;</i> $f.shortNumberFormat($s["trace"])</span>
				#else
					<span class="detail trace"><i>&nbsp;</i></span>
				#end
			</a>
		#end
	</div>
	<div class="clear">&nbsp;</div>
	#end

<div style="clear: both;"></div>
</body>
</html>