#* @vtlvariable name="p" type="com.farpost.logwatcher.web.controller.FeedController.DetailsPage" *#
<html>
<head>
	<title>LogWatcher: detailed information for entry</title>

	<link rel="stylesheet" type="text/css" href="/css/log.css"/>
	<link rel="stylesheet" type="text/css" href="/css/datepicker.css"/>
</head>

<body>

<h2 data-checksum="${p.cluster.checksum}" data-application="$p.cluster.applicationId">
	$display.truncate($p.cluster.title, 90, "...", true)
	#if($p.cluster.issueKey)
		#if($p.getIssueLink($p.cluster.issueKey))
			[<a href="$p.getIssueLink($p.cluster.issueKey)">$p.cluster.issueKey</a>]
		#else
			[$p.cluster.issueKey]
		#end
	#end

	<a id="editModalButton"
		 href="#editModal" role="button" class="btn btn-small" data-toggle="modal">Edit <i class="icon-edit"></i></a>
</h2>

<div id="editModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
		 aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="editModalLabel">Edit cluster</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="clusterTitle">Title</label>

				<div class="controls">
					<input type="text" id="clusterTitle" name="clusterTitle" placeholder="Title" class="input-xlarge"
								 value="$!p.cluster.title">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="clusterIssueKey">Issue key</label>

				<div class="controls">
					<input type="text" id="clusterIssueKey" name="clusterIssueKey" class="input-small" placeholder="Issue key"
								 value="$!p.cluster.issueKey">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="clusterDescription">Description</label>

				<div class="controls">
					<textarea id="clusterDescription" name="clusterDescription" class="input-xlarge" rows="3"
										placeholder="Description...">$!p.cluster.description</textarea>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		<button id="clusterSave" class="btn btn-primary">Save changes</button>
	</div>
</div>

<p>
	<a href="/feed/$p.cluster.applicationId">&larr; Back</a> to $p.cluster.applicationId
</p>

<h3>Statistics</h3>

<p class="section bigDate">
	<span data-toggle="tooltip"
				title="First seen at">$date.format("dd MMMM, HH:mm:ss", $p.statistics.firstSeenAt.toDate())</span>
	&mdash; <span data-toggle="tooltip"
								title="Last seen at">$date.format("dd MMMM, HH:mm:ss", $p.statistics.lastSeenAt.toDate())</span>
</p>

<p class="section bigNumber">
	<span data-toggle="tooltip" title="The number of occurrences yesterday">$p.statistics.yesterdayCount</span> /
	<span data-toggle="tooltip" title="The number of occurrences today">$p.statistics.todayCount<span>
</p>

<table id="statisticsTable">
	<tr>
		<td id="minuteStatistics"></td>
		<td id="dayStatistics"></td>
	</tr>
</table>

<div class="input-append date">
	<input id="datePicker" class="input-small" type="text" value='$date.format("yyyy-MM-dd", $date.date)'
			data-date-format="yyyy-mm-dd"/>
	<button id="showLog" class="btn" type="button">Show!</button>
</div>

<h3>Context Sampling</h3>

<div id="attributesContainer" class="section">
	<div class="spinner"></div>
</div>

	#if($p.cluster.description)
	<h3>Description</h3>

	<p class="section">$p.cluster.description</p>
	#end

<h3>Log samples</h3>

<div class="section">
	<div id="logSamples"></div>
</div>

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="/js/events.detailed-view.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>

<script type="text/javascript">
	$("*[data-toggle='tooltip']").tooltip()
</script>
</body>
</html>