#* @vtlvariable name="p" type="com.farpost.logwatcher.web.controller.FeedController.DetailsPage" *#
<html>
<head>
	<title>LogWatcher: detailed information for entry</title>

	<link rel="stylesheet" type="text/css" href="/css/log.css"/>
	<link rel="stylesheet" type="text/css" href="/css/datepicker.css"/>

	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="/js/events.detailed-view.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-datepicker.js"></script>

</head>

<body>

<h2 data-checksum="${p.cluster.checksum}" data-application="$p.cluster.applicationId">
	$display.truncate($p.cluster.title, 90, "...", true)</h2>

<p>
	<a href="/feed/$p.cluster.applicationId">&larr; Back</a> to $p.cluster.applicationId
</p>

<h3>Statistics</h3>

<p class="section">
	Today: $p.statistics.todayCount times. Yesterday: $p.statistics.yesterdayCount times.
	Last seen: $date.format("dd MMMM, HH:mm:ss", $p.statistics.lastSeenAt.toDate())
</p>

<table id="statisticsTable">
	<tr>
		<td id="minuteStatistics"></td>
		<td id="dayStatistics"></td>
	</tr>
</table>


<h3>Context Sampling</h3>

<div id="attributesContainer" class="section">
	<div class="spinner"></div>
</div>

	#if($p.cluster.description)
	<h3>Description</h3>

	<p class="section">No description given</p>
	#end

<h3>Log samples</h3>

<div class="input-append date">
	<input id="datePicker" class="span2" type="text" value='$date.format("yyyy-MM-dd", $date.date)'
				 data-date-format="yyyy-mm-dd"/>
	<button id="showLog" class="btn" type="button">Show!</button>
</div>

<div id="logSamples" class="log section">
</div>

<script>
	$('#datePicker').datepicker({
		onRender: function (date) {
			return date.valueOf() > new Date().valueOf() ? 'disabled' : '';
		}
	});

	var showLogButton = $("#showLog");
	showLogButton.click(function () {
		var date = $("#datePicker").val();
		$.ajax({
			url: "/service/log",
			data: {'date': date, 'application': '$p.cluster.applicationId', 'checksum': '$p.cluster.checksum'}
		}).done(function (data) {
				$("#logSamples").html(data);
			});
	});
	showLogButton.click();
</script>
</body>
</html>