#macro (logEntry $e, $formatter, $classifier)
#* @vtlvariable name="e" type="com.farpost.logwatcher.LogEntry" *#
#* @vtlvariable name="formatter" type="com.farpost.logwatcher.web.AttributeFormatter" *#
#* @vtlvariable name="classifier" type="com.farpost.logwatcher.web.LogEntryClassifier" *#
<div class="${classifier.getEntryCssClass($e)}">
	<p class="message">
		<span class="m_date">$date.format("dd MMM, HH:mm:ss", $e.date)</span>
		<span class="m_group">&mdash; $e.severity.toString().substring(0, 1).toUpperCase() #if($e.group) [$e.group] #end</span>
		<span class="m_message">$e.message</span>
	</p>
	#if(!$e.attributes.isEmpty())
		<table class="attr">
			#foreach($i in $e.attributes.entrySet())
				#if(!$i.value.isEmpty())
					<tr data-attribte="$i.key">
						<td class="attributeName">$i.key</td>
						#set($_value = $formatter.format($e.applicationId, $i.key, $e.attributes))
						<td>$!_value</td>
					</tr>
				#end
			#end
		</table>
	#end
	#if($e.cause)
		<p class="cause">$f.formatCause($e.cause)</p>
	#end
</div>
#end