#* @implicitly included *#
#* @vtlmacrolibrary path="../webapp/WEB-INF/velocity/VM_global_library.vm" *#
#* @vtlvariable name="sort" type="org.apache.velocity.tools.generic.SortTool" *#
#* @vtlvariable name="display" type="org.apache.velocity.tools.generic.DisplayTool" *#
#* @vtlvariable name="math" type="org.apache.velocity.tools.generic.MathTool" *#
#* @vtlvariable name="number" type="org.apache.velocity.tools.generic.NumberTool" *#
#* @vtlvariable name="date" type="org.apache.velocity.tools.generic.DateTool" *#
#* @vtlvariable name="link" type="org.apache.velocity.tools.view.LinkTool" *#
#* @vtlvariable name="esc" type="org.apache.velocity.tools.generic.EscapeTool" *#
#* @vtlvariable name="f" type="com.farpost.logwatcher.web.Functions" *#
