<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
	<display-name>Logging web-frontend</display-name>

	<servlet>
		<!--suppress ServletWithoutMappingInspection -->
		<servlet-name>jsp</servlet-name>
		<!--suppress WebProperties -->
		<servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
		<init-param>
			<param-name>development</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	
</web-app>
